// Fonts Default
$arial: Arial, Verdana, sans-serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;

// Body Styles
$bodyBg: #fff;

// Default styles
$defaultColor: #333;
$defaultFontFamily: $arial;
$defaultFontSize: 13px;
$defaultLineHeight: 20px;

// Link
$linkColor: #006699;
$linkOutline: none;
$linkFocusOutline: thin dotted;
$linkTextDecorator: none;
$linkHoverTextDecorator: underline;

// Heading Styles
$headingFontFamily: $arial;
$headingFontSize: 25px;

// Text Styles
$textMarginBottom: 1.625em;
$textMarginLeft: 2.5em;

// Img
$imgBorder: 0;

// Forms
$formBg: #f4f4f4;
$formFontSize: $defaultFontSize;
$formFontLineHeight: $defaultLineHeight;
$formFontFamily: $defaultFontFamily;
$formBorder: 1px solid #ccc;
$formColor: #666;
$formPadding: 4px;
$formFocusColor: #333;
$fieldsetBorder: 1px solid #c0c0c0;
$fieldsetMargin: 0 2px;
$fieldsetPadding: 0.35em 0.625em 0.75em;

// Lists
$ulStyle: disc;
$olStyle: decimal;
$olx2Style: upper-alpha;
$olx3Style: lower-roman;
$olx4Style: lower-alpha;

// hr
$hrBg: #ccc;

// Blockquote
$quoteColor: $defaultColor;
$quoteFont: Georgia, "Bitstream Charter", serif;
$quoteMargin: 0 3em;
$quoteFontStyle: italic;
$quoteBeforeColor: #666;
$quoteBeforeFontSize: 60px;
$quoteCiteColor: #666;
$quoteCiteFont: 12px Arial, Verdana, sans-serif;
$quoteCiteBeforeColor: #666;

// Code
$codeBg: #f4f4f4;
$codeFont: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Pre
$preBg: #111;
$preColor: #fff;
$preFont: 13px/20px "Courier 10 Pitch", Courier, monospace;
$prePadding: 0.75em $textMarginBottom;

// Abbr
$abbrBorder: 1px dotted #666;

// Ins
$insBg: #fff9c0;

// Sup and Sub
$supsubFontSize: 10px;
$supsubLineHeight: 1;

// Mark
$markBg: #ff0;
$markColor: #000;

// Table
$tableBorder: 1px solid #ededed;
$tableColor: $defaultColor;
$tableFontSize: $defaultFontSize;
$tableLineHeight: $defaultLineHeight;
$tableMargin: 0 0 $textMarginBottom;
$tableWidth: 100%;

$tableCaptionFontSize: 1.6em;
$tableCaptionMargin: 1.5em 0;

$thBorderSide: none;
$thBorderWidth: 1px;
$thBorderStyle: solid;
$thBorderColor: #ddd;
$thPadding: 0 10px;

$tdBorderSide: top;
$tdBorderWidth: 1px;
$tdBorderStyle: solid;
$tdBorderColor: #ddd;
$tdPadding: 5px 10px;
