/* =Gallery styles.
-------------------------------------------------------------- */

.odin-gallery-images .image,
.odin-gallery-images .add,
.odin-gallery-images .wc-metabox-sortable-placeholder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: none repeat scroll 0 0 #F7F7F7;
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: move;
	float: left;
	height: 150px;
	margin: 9px 9px 0 0;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.odin-gallery-images img {
	height: 150px;
	width: 150px;
}

.odin-gallery-images .wc-metabox-sortable-placeholder {
	border: 4px dashed #ddd;
}

.odin-gallery-images .image .actions {
	display: none;
	padding: 2px;
	position: absolute;
	right: 0;
	top: 0;
}

.odin-gallery-images .image:hover > .actions {
	display: block;
}

.odin-gallery-images .image .actions li {
	background: #eee;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: right;
	margin: 0 0 0 2px;
	padding: 1px;
	text-align: center;
}

.odin-gallery-images .image .actions li a {
	font: 12px/16px Arial, Verdana, sans-serif;
	color: #d00;
	display: block;
	width: 16px;
	height: 15px;
	text-decoration: none;
}

.odin-gallery-images .image .actions li a:hover {
	background: #ddd;
}

.odin-form-table .description {
	display: block;
}

/* =Separator
-------------------------------------------------------------- */

.odin-metabox-separator {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #dfdfdf;
	display: block;
}
