/* =Socialite
-------------------------------------------------------------- */
.social-buttons.horizontal .twitter-share, .social-buttons.horizontal .googleplus-one, .social-buttons.horizontal .pinterest-pinit, .social-buttons.horizontal .facebook-like, .social-buttons.vertical .twitter-share, .social-buttons.vertical .googleplus-one, .social-buttons.vertical .pinterest-pinit, .social-buttons.vertical .facebook-like {
    background: url('images/socialite.png') no-repeat;
}

.social-buttons {
    *zoom: 1;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-buttons:before, .social-buttons:after {
    content: "";
    display: table;
}
.social-buttons:after {
    clear: both;
}
.social-buttons.horizontal > li {
    display: block;
    margin: 0;
    padding: 10px 0;
    float: left;
}
.social-buttons.horizontal .twitter-share {
    margin-right: 35px;
    background-position: 0 -20px;
    height: 20px;
    width: 75px;
}
.social-buttons.horizontal .googleplus-one {
    margin-right: 30px;
    background-position: 0 -40px;
    height: 20px;
    width: 59px;
}
.social-buttons.horizontal .pinterest-pinit {
    margin-right: 30px;
    background-position: 0 -60px;
    height: 20px;
    width: 40px;
}
.social-buttons.horizontal .facebook-like {
    background-position: 0 0;
    height: 20px;
    width: 85px;
}
.social-buttons.vertical > li {
    display: block;
    margin: 0;
    padding: 10px 0;
    float: left;
}
.social-buttons.vertical .twitter-share {
    background-position: 0 -231px;
    height: 62px;
    width: 55px;
}
.social-buttons.vertical .googleplus-one {
    background-position: 0 -110px;
    height: 60px;
    width: 50px;
}
.social-buttons.vertical .pinterest-pinit {
    background-position: -40px -60px;
    height: 50px;
    width: 40px;
}
.social-buttons.vertical .facebook-like {
    background-position: 0 -170px;
    height: 61px;
    width: 62px;
}
.social-buttons .socialite {
    display: block;
    position: relative;
}
.social-buttons .socialite-loaded {
    background: none !important;
}
.social-buttons embed,
.social-buttons iframe,
.social-buttons object {
    max-width: none;
}

#fb-root {
    display: none;
}
