/*!
 * Banner Component
 */
.odin-banner {

	// Scroll link to #content.
	// See more effects in http://codepen.io/adammacias/pen/oZVoeQ
	.odin-scroll-link > a {
		padding-top: 80px;

	 	& > span {
			position: absolute;
			bottom: 82px;
			left: 50%;
			width: 24px;
			height: 24px;
			margin-left: -12px;
			border-left: 1px solid $odin-banner-color;
			border-bottom: 1px solid $odin-banner-color;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-animation: sdb07 2s infinite;
			animation: sdb07 2s infinite;
			opacity: 0;
			box-sizing: border-box;

			&:nth-of-type(1) {
				-webkit-animation-delay: 0s;
				animation-delay: 0s;
			}
			&:nth-of-type(2) {
				bottom: 66px;
				-webkit-animation-delay: .15s;
				animation-delay: .15s;
			}
			&:nth-of-type(3) {
				bottom: 50px;
				-webkit-animation-delay: .3s;
				animation-delay: .3s;
			}
		}
	}

	@-webkit-keyframes sdb07 {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes sdb07 {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
