//
// TinyMCE editor Style
//

// --------------------------------------------------------------
// Import Theme Style
// --------------------------------------------------------------
@import "../css/style.css";

// --------------------------------------------------------------
// Extra
// --------------------------------------------------------------
html {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
