/* =Socialite
-------------------------------------------------------------- */
$socialite-layout: smart;
$socialite-repeat: no-repeat;
$socialite-sprite-dimensions: true;
$socialite-sprite-base-class: '.socialite-sprites';
@import "socialite/*.png";

.social-buttons {

    @include clearfix;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    &.horizontal {
        & > li {
            display: block;
            margin: 0;
            padding: 10px 0;
            float: left;
        }

        .twitter-share {
            margin-right: 35px;
            @include socialite-sprite(twitter-horizontal);
        }

        .googleplus-one {
            margin-right: 30px;
            @include socialite-sprite(googleplus-horizontal);
        }

        .pinterest-pinit {
            margin-right: 30px;
            @include socialite-sprite(pinterest-horizontal);
        }

        .facebook-like {
            @include socialite-sprite(facebook-horizontal);
        }
    }

    &.vertical {
        & > li {
            display: block;
            margin: 0;
            padding: 10px 0;
            float: left;
        }

        .twitter-share {
            @include socialite-sprite(twitter-vertical);
        }

        .googleplus-one {
            @include socialite-sprite(googleplus-vertical);
        }

        .pinterest-pinit {
            @include socialite-sprite(pinterest-vertical);
        }

        .facebook-like {
            @include socialite-sprite(facebook-vertical);
        }
    }

    .socialite {
        display: block;
        position: relative;
    }

    .socialite-loaded {
        background: none !important;
    }

    embed,
    iframe,
    object {
        max-width: none;
    }
}

#fb-root {
    // As vezes isso causa rolagem horizontal na página
    display: none;
}
