/* =Socialite
-------------------------------------------------------------- */
$socialite-layout: smart;
$socialite-repeat: no-repeat;
$socialite-sprite-dimensions: true;
$socialite-sprite-base-class: '.socialite-sprites';
@import "socialite/*.png";

.social-buttons {

    @include clearfix;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {
        display: block;
        margin: 0;
        padding: 10px 0;
        float: left;
    }

    .socialite {
        display: block;
        position: relative;
    }

    .socialite-loaded {
        background: none !important;
    }

    .twitter-share {
        margin-right: 35px;
        @include socialite-sprite(twitter-share);
    }

    .googleplus-one {
        margin-right: 30px;
        @include socialite-sprite(googleplus-one);
    }

    .pinterest-pinit {
        margin-right: 30px;
        @include socialite-sprite(pinterest-pinit);
    }

    .facebook-like {
        @include socialite-sprite(facebook-like);
    }

    embed,
    iframe,
    object {
        max-width: none;
    }
}

#fb-root {
    // As vezes isso causa rolagem horizontal na página
    display: none;
}
