//
// Content
//

#content {
	//
	// Default post/page
	//
	.post,
	.page {
		margin-bottom: 2em;
		padding-left: 2em;
		padding-right: 2em;
		border-left: 5px #F5F5F5 solid;

		// Header area
		header.entry-header {
			.entry-title {
				@extend .h1;
			}
			.entry-meta {
				@extend .lead;

				.entry-date {}
				.entry-byline {}
				.entry-author {}
			}
		}

		// Excerpt area
		.entry-excerpt {
			font-size: large;
		}

		// Content area
		.entry-content {
			font-size: larger;
			padding-top: .5em;
			padding-bottom: 1.5em;
		}

		// Footer area
		.entry-footer {
			background: #F5F5F5;
			padding: .5em 1em;
			.cat-links {}
			.tag-links {}
			.comments-link {}
		}
	}

	//
	// Sticky post
	//
	.post.sticky {
		header.entry-header {
			.entry-title {
				&::after { content: " \2014 "; } // 1x long dash (brajeshwar.github.io/entities)
			}
		}
	}
}

//
// Single Content
//
body.single #content {
	.post {}
}
