//
// Footer
//
// Sticky footer styles
//

#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    padding-top: 15px;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 70px;
}
