/* Alignment */

.alignleft {
	display: inline;
	float: left;
	margin-right: $text-margin-bottom;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $text-margin-bottom;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
