/* Comment Validation */

label.error {
	@include border-radius(4px);
	@include text-shadow(0 1px 0 #fff);
	background-color: #f2dede;
	border: 1px solid darken(#eed3d7, 20%);
	color: darken(#eed3d7, 45%);
	display: block;
	padding: 5px;
	margin: 5px 0;
}

input.error,
textarea.error {
	border-color: darken(#eed3d7, 30%);
}
