/* Content */

.hentry,
.widget {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.page-content,
.entry-content {
	@include clearfix();

	table {
		@extend .table;
	}

	.table-condensed {
		@extend .table-condensed;
	}
}

.entry-attachment {
	.attachment {
		text-align: center;
		margin-bottom: 10px;
	}

	#nav-below {
		.nav-next {
			float: right;
		}
		.nav-previous {
			float: left;
		}
	}
}

.entry-caption {
	color: #666;
}

/* Override the Twitter embed fixed width */
.twitter-tweet-rendered {
	max-width: 100% !important;
}
