/* Images */

.hentry,
.widget {
	img {
		height: auto; /* Does height and width are scaled correctly */
		max-width: 97.5%; /* Prevents the image passes the total area reserved */
		width: auto; /* Avoids problems of stretching the image in IE8 */
	}
}

img {
	&.header-image,
	&.wp-post-image {
		max-width: 100%;
		height: auto;
	}

	&.wp-smiley, .rsswidget & {
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}

	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-bottom: $text-margin-bottom;
	}

	&#wpstats {
		display: none; /* Remove WP.com Stats smile :) */
	}

	.comment-content &,
	.widget & {
		max-width: 100%;
	}
}

p img,
.wp-caption {
	margin-top: 0.4em;
}

.wp-caption {
	@extend .thumbnail;
	margin-bottom: $text-margin-bottom;
	max-width: 96%;

	img {
		display: inline-block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
}

.wp-caption .wp-caption-text {
	margin-bottom: 0;
	padding: 10px 0 5px 40px;
	position: relative;

	&:before {
		color: #666;
		content: '\2014';
		font-size: 14px;
		font-style: normal;
		font-weight: bold;
		margin-right: 5px;
		position: absolute;
		left: 10px;
		top: 7px;
	}
}
